<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Driver's Drowsiness Detection</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">


</head>
<body>
    <br>
    <br>
    <br>
    <div class="card bg-light">
        <article class="card-body mx-auto" style="max-width: 400px;">
            <h4 class="card-title mt-3 text-center">Login Account</h4>
            <p>
                <a href="" class="btn btn-block btn-twitter"> <i class="fab fa-twitter"></i>   Login via Twitter</a>
                <a href="" class="btn btn-block btn-facebook"> <i class="fab fa-facebook-f"></i>   Login via facebook</a>
            </p>
            <p class="divider-text">
                <span class="bg-light">OR</span>
            </p>
            <form action="{% url 'loginuser' %}" method="POST">
            {% csrf_token %}
            <div class="form-group input-group">
                <div class="input-group-prepend">
        
        
            </div> <!-- form-group end.// -->
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                 </div>
                <input  class="form-control" placeholder="Username" type="text" name="username">
            </div> <!-- form-group// -->
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-phone"></i> </span>
                </div>
                <input class="form-control" placeholder="password" type="password" name="password">
            </div> <!-- form-group// -->
        
        
                <button type="submit" class="btn btn-primary btn-block"> LogIn Account  </button>
            </div> <!-- form-group// -->  	<ul>
                <p class="text-center">Don't Have an account? <a href="{% url 'register'%}">Register Now</a> </p>
                
                <p class="text-center">Go To Main Page? <a href="{% url 'mainpage' %}"  >Main Page</a> </p> 
            </ul>
        </form>
        </article>
        </div> <!-- card.// -->
        
        </div>
        <!--container end.//-->
</body>
</html>


<br><br>

